@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

/* scroll document html menjadi smooth */
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  padding: 20px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
/* aside {
  padding-left: 20px;
  margin-top: -20px;
} */

nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
}
nav a:hover {
  font-weight: bold;
  color: #e8902c;
}
nav li {
  display: inline;
  list-style-type: none;
  margin-right: 20px;
}
nav {
  padding: 25px;
  background-color: #67b2e1ff;
  position: sticky;
  display: block;
  top: 0;
}
.left-nav {
  float: left;
  font-size: 20px;
  color: #ffffff;
}
.right-nav {
  float: right;
}

.jumbotron {
  display: flex;
  width: 100%;
  padding: 120px;
  background-color: #67b2e1ff;
  text-align: right;
  color: #ffffff;
}
header {
  display: inline;
}

.left-header {
  flex-grow: 1;
}

.right-header {
  flex-grow: 1;
  color: #ffffff;
  font-size: 30px;
}
.header-img {
  width: 500px;
}
.special_btn {
  margin-top: 1.5em;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  color: #67b2e1ff;
  font-size: 15px;
  background: #ffffff;
  padding: 20px;

  transition: all 0.5s ease 0s;
}
.special_btn:hover {
  border-radius: 20px;
  border-color: #f5ee27;
  color: #ffffff;
  background: #e8902c;

  transition: all 0.5s ease 0s;
}

.flex-row {
  display: flex;
  padding-top: 20px;
}
.box {
  flex-grow: 1;
  width: 200px;
  height: 200px;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  color: #67b2e1ff;
  font-size: 1.5em;
}
h2 {
  font-size: 40px;
  text-align: center;
  color: #67b2e1ff;
}
.white {
  font-size: 40px;
  text-align: center;
  color: #ffffff;
}
.zoomImg {
  width: 100px;
  height: 100px;

  /* transisi zoom in selama 0.5 detik */
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.zoomImg:hover {
  width: 120px;
  height: 120px;
}

#aboutUs,
#contact {
  background-color: #67b2e1ff;
}

.card {
  flex-basis: 100%;
  border-radius: 50px;
  padding: 30px;
  height: 100vh;
}

#myTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;

  /* tambahan */
  font-size: 18px;
  background-color: #e8902c;
  color: #ffffff;
  cursor: pointer;
  padding: 15px;
  border-radius: 100px;
}

#myTopBtn:hover {
  background-color: #67b2e1ff;
}

@media only screen and (max-width: 1000px) {
  nav {
    display: flex;
  }
  nav li {
    display: inline;
    list-style-type: none;
    margin-right: 5px;
  }
  h2 {
    font-size: 25px;
  }
  .left-nav {
    display: none;
  }
  .right-nav {
    flex-basis: 100%;
  }
  .flex-row {
    flex-direction: column;
    margin-bottom: 100px;
  }
  .box {
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
  }
  .jumbotron {
    flex-direction: column;
  }
  .card {
    width: 100%;
    height: 100%;
    padding: 10vh;
  }
  .header-img,
  .right-header {
    width: 100%;
    font-size: 17px;
    text-align: center;
    padding: 0;
  }
  .special_btn {
    font-size: 16px;
    width: 100%;
    height: 100%;
  }
}

footer {
  padding: 20px;
  color: #ffffff;
  background-color: #67b2e1ff;
  text-align: center;
  font-weight: bold;
}
