@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");
/* CSS Variable */
:root {
  --primary-color: #4184b4;
  --secondary-color: #a9cedb;
  --title-color: #141313;
  --text-color: #777777;
  --border-color: #201f1f17;
  --gradient-color: linear-gradient(
    90deg,
    rgba(29, 88, 191, 1) 0%,
    rgba(103, 178, 225, 1) 65%
  );
  --shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
  --box-shadow: 0px 10px 30px rgba(21, 21, 22, 0.205);

  /* font family */
  --nova-font: "Nova Square", cursive;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font: normal 500 16px/20px var(--nova-font);
  scroll-behavior: smooth;
}
/* LOADER AREA */
.loader-wrapper {
  position: fixed;

  top: 0;
  width: 100%;
  height: 100%;
  left: 0%;
  right: 0%;
  z-index: 1000;

  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.loader {
  display: inline-block;
  width: 60px;
  height: 60px;
  position: relative;
  border: 4px solid var(--primary-color);
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: var(--primary-color);
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
/* END LOADER AREA */
