
<h3>{{viewTitle}}</h3>

<form action="/user/register" method="POST"  autocomplete="off">
   
    <div class="form-group">
        <label>Nama</label>
        <input type="text" class="form-control" name="name" placeholder="nama lengkap..." >
    </div>
    
    <div class="form-group">
        <label>Email Anda</label>
        <input type="text" class="form-control" name="email" placeholder="email..." >
    </div>
    <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" name="username" placeholder="username..." >
        
    </div>
    <div class="form-group">
        <label>password</label>
        <input type="password" class="form-control" name="password" placeholder="password..." >
        
    </div>
   
    <div class="form-group">
        <button type="submit" class="btn btn-primary"> <i class="fa fa-users"></i> Register</button>
    </div>

     {{#if showError}}
        <div class="alert alert-danger" role="alert" >
            {{userError}}
        </div>
    {{/if}}
     

</form>